pandas==1.5.3
streamlit
altair
watchdog
jax
jaxlib
numpy
scipy
matplotlib
mechafil
mechafil-jax @ git+https://github.com/kkarrancsu/mechafil-jax.git
scenario-generator @ https://github.com/protocol/scenario-generator.git